@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fascinate+Inline&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Shippori+Mincho+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=DotGothic16&display=swap');


/* ---------------- Design System Variables ---------------- */
:root {
	/* Colors */
	--color-bg: #FAFCFD;
	--color-text: #000000;
	--color-accent: #E67A00;

	/* Fonts */
	--font-index: "Darker Grotesque", sans-serif;
	--font-manuscript: "Roboto Serif", serif;
	--font-spread: "Fascinate Inline", sans-serif;
	--font-binding: "DM Sans", sans-serif;
	--font-links: "DotGothic16", sans-serif;
	/* --font-functions: ; */

	/* Font size */
	--fs-xs:   clamp(0.75rem, 1.2vw,  1rem);
	--fs-sm:   clamp(0.875rem, 1.5vw, 1.125rem);
	--fs-p: clamp(1rem, 2vw, 1.5rem);
	--fs-h1:   clamp(3.5rem, 8vw, 7rem);
	--fs-h2:   clamp(2.25rem, 6vw, 3rem);

	@media (width >= 770px) {
		--fs-h2: clamp(1.75rem, 3.5vw, 3rem);
	}

	/* Font weight */
	--fw-light: 300;
	--fw-reg: 400;
	--fw-semi: 600;

	/* Line height */
	--lh-small: 1em;
	--lh-big: 1.5em;

	/* Spacing */
	--space-xs:  0.25rem;
	--space-sm:  0.75rem;
	--space-md:  1.25rem;
	--space-lg:  2rem;
	--space-xl:  3.5rem;
	--space-gap: 1.5rem;

	/* Transition */
	--transition: 0.3s ease;
	scroll-behavior: smooth;
}


/* ---------------- Body ---------------- */
body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-index);
	min-block-size: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding-block: var(--space-sm);
	padding-inline: var(--space-md);

	@media (width >= 770px)  { 
		padding-inline: var(--space-lg); 
	}
	
	@media (width >= 1270px) { 
		padding-inline: var(--space-xl);
		padding-block-end: var(--space-xl);
	}
}


/* ---------------- Underline Hover ---------------- */
nav ul a, footer a {
	position: relative;
	display: inline-block;
	overflow: visible;

	&::after {
		content: "";
		position: absolute;
		inset-inline-start: 0;
		top: 100%;
		margin-block-start: 0.2em;
		inline-size: 100%;
		block-size: 0.1em;
		background-color: var(--color-accent);
		transform: scaleX(0);
		transform-origin: right;
		transition: transform var(--transition);
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}


/* ---------------- Header ---------------- */
header > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-gap);

	a {
		color: var(--color-accent);
		font-size: var(--fs-p);
		font-weight: var(--fw-semi);
		line-height: var(--lh-big);
	}

	ul {
		display: flex;
		gap: var(--space-gap);
		line-height: var(--lh-small);

		li a { 
			text-transform: uppercase; 
			color: var(--color-text);
			font-size: var(--fs-xs);
			font-weight: var(--fw-semi);
			line-height: var(--lh-small);
		}
	}
}

/* ---------------- Main ---------------- */
main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-lg);

	@media (width >= 770px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	/* ---------------- preview-pane ---------------- */
	.preview-pane {
		display: block;
		position: fixed;
		inset: 0;
		z-index: 2;
		pointer-events: none;

		iframe {
			border: none;
			pointer-events: none;
			position: absolute;
			inset: 0;
			inline-size: 100%;
			block-size: 100%;
			opacity: 0;
			visibility: hidden;
			transition: opacity var(--transition), visibility var(--transition);
		}
	}

	/* ---------------- h1 ---------------- */
	h1 {
		font-family: var(--font-index);
		font-size: var(--fs-h1);
		font-weight: var(--fw-semi);
		line-height: var(--lh-small);
		text-align: center;
		position: relative;
		z-index: 1;
		flex: 1;
		display: grid;
		place-content: center;

		@media (width >= 770px) {
			text-align: start;
			display: block;
		}

		#name {
			color: var(--color-accent);
			cursor: default;

			&::after {
				content: "";
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				inline-size: 20rem;
				block-size: 20rem;
				background-image: url('assets/sooim.jpg');
				background-size: cover;
				background-position: center;
				opacity: 0;
				visibility: hidden;
				transition: opacity var(--transition), visibility var(--transition);
				z-index: 2;
				pointer-events: none;
			}

			&:hover::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	/* ---------------- ol ---------------- */
	ol {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--space-sm);
		counter-reset: item;
		text-align: center;

		@media (width >= 770px) { 
			text-align: start; 
		}

		&:has(a:hover) li:not(:has(a:hover)) h2 a { 
			opacity: 0.3; 
		}

		li {
			counter-increment: item;

			h2 {
				font-size: var(--fs-h2);
				font-weight: var(--fw-reg);
				line-height: var(--lh-small);
				text-transform: uppercase;
				height: 1lh;

				&::before {
					content: "/0" counter(item);
					font-size: var(--fs-xs);
					font-weight: var(--fw-light);
					vertical-align: top;
					padding-inline-end: var(--space-sm);
				}

				a { 
					display: inline-block; 
				}
			}

			&:nth-child(1) h2 a:hover { 
				font-family: var(--font-manuscript); 
				font-weight: 800; 
				transform: scaleY(1.6); 
			}

			&:nth-child(2) h2 a:hover { 
				font-family: var(--font-spread); 
			}

			&:nth-child(3) h2 a:hover { 
				font-family: var(--font-binding); 
			}

			&:nth-child(4) h2 a:hover { 
				font-family: var(--font-links); 
			}

			&:nth-child(5) h2 a:hover { 
				font-family: var(--font-functions); 
			}
		}
	}

	&:has(ol li:nth-child(1) a:hover) .preview-pane iframe:nth-child(1),
	&:has(ol li:nth-child(2) a:hover) .preview-pane iframe:nth-child(2),
	&:has(ol li:nth-child(3) a:hover) .preview-pane iframe:nth-child(3),
	&:has(ol li:nth-child(4) a:hover) .preview-pane iframe:nth-child(4),
	&:has(ol li:nth-child(5) a:hover) .preview-pane iframe:nth-child(5) {
		opacity: 1;
		visibility: visible;
	}
}


/* ---------------- Footer ---------------- */
footer {
	font-size: var(--fs-xs);
	line-height: var(--lh-big);
	padding-block-start: var(--space-sm);

	p a { 
		display: inline-block; 
	}
}